<footer class="footer">
    <div class="footer-container">
      <div class="footer-block">
        <h3>FunPaz IPS</h3>
        <p>Km 4 vía Cuchilla del Salado</p>
        <p>Manizales - Caldas - Colombia</p>
        <div class="social-icons">
            <a href="https://www.facebook.com/funpazclinicadesaludmental" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/funpazclinicadesaludmental/" target="_blank"><i class="fa fa-instagram"></i></a> 
            <!--<a href="https://wa.me/573300333946" target="_blank"><i class="fa fa-whatsapp"></i></a>-->
        </div>
      </div>
      <div class="footer-block">
        <h3>Sobre Nosotros</h3>
        <p><a class="footer-link" href="#">Información institucional</a></p>
        <p><a class="footer-link" href="#">Servicios</a></p>
        <p><a class="footer-link" href="#">Blog</a></p>
        <p><a class="footer-link" href="#">Testimonios</a></p>
      </div>
      <div class="footer-block">
        <h3>Contacto</h3>
        <p>Línea de atención general</p>
        <p><strong>+57 330 033 3946</strong></p>
        <p>Línea de atención Salud Total</p>
        <p><strong>+57 302 329 8606</strong></p>
      </div>
      <div class="footer-block">
        <h3>Correos Institucionales</h3>
        <p><a class="footer-link" href="mailto:gerenciafunpaz@gmail.com" target="_blank">Gerenciafunpaz@gmail.com</a></p>
        <p><a class="footer-link" href="mailto:fundacionfunpaz@gmail.com" target="_blank">Fundacionfunpaz@gmail.com</a></p>
      </div>
    </div>
    <div class="footer-copyright">
      Copyright &copy; FunPaz 2023 
    </div>
  </footer>
  