<div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6">
        <h2 class="register-title"><strong>REGISTRARSE</strong></h2>
        <form class="register-form">
          <div class="form-group">
            <div class="input-wrapper">
              <i class="fas fa-id-card icon"></i>
              <input type="text" class="form-control" placeholder="Número de identificación">
            </div>
          </div>
          <div class="form-group">
            <div class="input-wrapper">
              <i class="fas fa-address-card icon"></i>
              <select class="form-control">
                <option selected>Tipo de identificación</option>
                <option value="CC">Cédula de Ciudadanía</option>
                <option value="TI">Tarjeta de Identidad</option>
                <option value="CE">Cédula de Extranjería</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="input-wrapper">
              <i class="fas fa-user icon"></i>
              <input type="text" class="form-control" placeholder="Nombre Completo">
            </div>
          </div>
          <div class="form-group">
            <div class="input-wrapper">
              <i class="fas fa-calendar icon"></i>
              <input type="date" class="form-control" placeholder="Fecha de nacimiento">
            </div>
          </div>
          <div class="form-group">
            <div class="input-wrapper">
              <i class="fas fa-venus-mars icon"></i>
              <select class="form-control">
                <option selected>Género</option>
                <option value="M">Masculino</option>
                <option value="F">Femenino</option>
                <option value="O">Otro</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="input-wrapper">
              <i class="fas fa-ring icon"></i>
              <select class="form-control">
                <option selected>Estado civil</option>
                <option value="S">Soltero/a</option>
                <option value="C">Casado/a</option>
                <option value="D">Divorciado/a</option>
                <option value="V">Viudo/a</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="input-wrapper">
              <i class="fas fa-hospital icon"></i>
              <input type="number" class="form-control" placeholder="ID EPS">
            </div>
          </div>
          <div class="form-group">
            <div class="input-wrapper">
              <i class="fas fa-map-marker-alt icon"></i>
              <input type="text" class="form-control" placeholder="Dirección">
            </div>
          </div>
          <div class="form-group">
            <div class="input-wrapper">
              <i class="fas fa-phone icon"></i>
              <input type="tel" class="form-control" placeholder="Teléfono">
            </div>
          </div>
          <div class="form-group">
            <div class="input-wrapper">
              <i class="fas fa-envelope icon"></i>
              <input type="email" class="email" class="form-control" placeholder="Correo electrónico">
            </div>
            </div>
            <div class="form-group">
            <div class="input-wrapper">
            <i class="fas fa-lock icon"></i>
            <input type="password" class="form-control" placeholder="Contraseña">
            </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
            </form>
            </div>
            <div class="col-md-6">
            <img src="../../../assets/Media/Login/register.png" alt="Imagen de fondo" class="register-image">
            </div>
              </div>
            </div>
  