<div class="home-container">
    <div class="hero-section">
      <div class="hero-text">
        <h1>FUNPAZ Clínica de Salud Mental -</h1>
        <h2 class="slogan1"><strong>CONECTANDO </strong> <br>
            <strong class="slogan2">CONTIGO</strong> </h2> 
        
        <div class="buttons">
          <button class="btn btn-outline-primary">Agendar Cita</button>
          <button class="btn btn-outline-primary">Saber Más</button>
        </div>
      </div>
    </div>
    <div class="partners-section">
        <h2 class="partners-title"><strong>CONVENIOS & ALIANZAS</strong> </h2>
        <div class="logos-wrapper">
            <img src="../../../assets/Media/Convenios/asmetsalud.png" alt="Asmet Salud" class="partner-logo" />
            <img src="../../../assets/Media/Convenios/cosmitet.png" alt="Cosmitet" class="partner-logo" />
            <img src="../../../assets/Media/Convenios/saludtotal.png" alt="Salud Total" class="partner-logo" />
            <img src="../../../assets/Media/Convenios/famisanar.png" alt="Famisanar" class="partner-logo" />
        </div>
    </div>
  </div>
  